<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__menu">
          <li class="main-header__menu-item"><a href="/">Home </a></li>
          <li class="main-header__menu-item"><a href="/users">Users</a></li>
          <li class="main-header__menu-item">
            <a href="/users/add-users">Add Users</a>
          </li>

          <li class="main-header__menu-item"><a href="">Menu </a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="base-container">
        <div class="base-box">
          <h2 class="base-title">Welcome to my server</h2>
        </div>
      </div>
    </main>
  </body>
</html>
