.user-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-box {
  height: 85%;
  width: 90%;
  background: #6f04a01d;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #6f04a01d;
  padding: 20px;
}

.user-title {
  font-size: 24px;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}

.user-list__item {
  width: 100%;
  border-radius: 20px;
  background: #8600ab;
  color: #fff;
  font-size: 20px;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  list-style: none;
}
